@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button {
  font-weight: 700;
}

body {
  margin: 0 auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .backgroundHelper {
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: #ebfbff;
  background-repeat: no-repeat;
  background-size: cover;
}

body .backgroundHelper header {
  width: 23.4375rem;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  body .backgroundHelper header {
    width: 35rem;
  }
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header {
    width: 60rem;
  }
}

@media screen and (min-width: 90rem) {
  body .backgroundHelper header {
    width: 83rem;
  }
}

body .backgroundHelper header .topBar {
  padding: 1.375rem 0.875rem 0 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40rem) {
  body .backgroundHelper header .topBar {
    padding: 2rem 1rem 0 1rem;
  }
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .topBar {
    padding: 2rem 0 0 0;
  }
}

body .backgroundHelper header .topBar .topLogoSvg {
  width: 100px;
}

@media screen and (min-width: 40rem) {
  body .backgroundHelper header .topBar .topLogoSvg {
    width: 120px;
  }
}

@media screen and (min-width: 90rem) {
  body .backgroundHelper header .topBar .topLogoSvg {
    width: 160px;
  }
}

body .backgroundHelper header .topBar .topLogoSvg img {
  width: 100%;
}

body .backgroundHelper header .topBar button {
  height: 1.5rem;
  width: 5.6875rem;
  background-color: white;
  border: none;
  border-radius: 24px;
  -webkit-box-shadow: 0px 0 20px -5px #808d99;
          box-shadow: 0px 0 20px -5px #808d99;
  font-size: 0.6rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body .backgroundHelper header .topBar button:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

body .backgroundHelper header .topBar button:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 40rem) {
  body .backgroundHelper header .topBar button {
    height: 2rem;
    width: 6rem;
  }
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .topBar button {
    height: 2.5rem;
    width: 9rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .topBar button {
    height: 3rem;
    width: 11rem;
  }
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .headerTitleWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

@media screen and (min-width: 90rem) {
  body .backgroundHelper header .headerTitleWrapper {
    gap: 3rem;
    padding: 3rem 0;
  }
}

body .backgroundHelper header .headerTitleWrapper .title {
  padding: 5rem 2.25rem 3.25rem 2.25rem;
}

@media screen and (min-width: 40rem) {
  body .backgroundHelper header .headerTitleWrapper .title {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 90rem) {
  body .backgroundHelper header .headerTitleWrapper .title {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

body .backgroundHelper header .headerTitleWrapper .title h1 {
  padding-bottom: 2rem;
  font-size: 1.7rem;
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .headerTitleWrapper .title h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 90rem) {
  body .backgroundHelper header .headerTitleWrapper .title h1 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }
}

body .backgroundHelper header .headerTitleWrapper .title p {
  padding-bottom: 2.5rem;
  font-size: 1.1rem;
  font-size: 1rem;
}

body .backgroundHelper header .headerTitleWrapper .title button {
  height: 2.25rem;
  width: 14rem;
  border: none;
  border-radius: 240px;
  -webkit-box-shadow: 0px 0 20px -5px #808d99;
          box-shadow: 0px 0 20px -5px #808d99;
  background-color: #ff52bf;
  color: white;
  font-size: 0.8rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body .backgroundHelper header .headerTitleWrapper .title button:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

body .backgroundHelper header .headerTitleWrapper .title button:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 40rem) {
  body .backgroundHelper header .headerTitleWrapper .title button {
    height: 2.7rem;
    width: 17rem;
  }
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .headerTitleWrapper .title button {
    height: 3rem;
    width: 18rem;
    font-size: 0.9rem;
  }
}

body .backgroundHelper header .headerTitleWrapper .image {
  padding: 0 2.25rem 2rem 2.25rem;
}

@media screen and (min-width: 64rem) {
  body .backgroundHelper header .headerTitleWrapper .image {
    padding: 0;
  }
}

@media screen and (min-width: 90rem) {
  body .backgroundHelper header .headerTitleWrapper .image {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

body .backgroundHelper header .headerTitleWrapper .image img {
  width: 100%;
}

body main {
  position: relative;
  margin: 3.375rem auto 13.125rem auto;
  width: 21rem;
  text-align: center;
}

@media screen and (min-width: 40rem) {
  body main {
    width: 27rem;
  }
}

@media screen and (min-width: 64rem) {
  body main {
    width: 55rem;
    margin-top: 6rem;
  }
}

@media screen and (min-width: 90rem) {
  body main {
    width: 80rem;
    margin-bottom: 17rem;
  }
}

body main article {
  margin-bottom: 2.25rem;
  padding: 3.375rem 3rem 3rem 3rem;
  border-radius: 24px;
  -webkit-box-shadow: 0px 0 20px -5px #808d99;
          box-shadow: 0px 0 20px -5px #808d99;
}

@media screen and (min-width: 40rem) {
  body main article {
    padding: 3.5rem 4rem 3rem 4rem;
  }
}

@media screen and (min-width: 64rem) {
  body main article {
    padding: 2rem 1rem 2rem 5rem;
  }
}

@media screen and (min-width: 90rem) {
  body main article {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 64rem) {
  body main article .flexWrapper {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10rem;
    text-align: left;
  }
  body main article .flexWrapper.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body main article .flexWrapper .imgWrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

body main article .flexWrapper .imgWrapper img {
  width: 100%;
}

body main article .flexWrapper .articleTextWrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

body main article .flexWrapper .articleTextWrapper h2 {
  margin-top: 3rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 40rem) {
  body main article .flexWrapper .articleTextWrapper h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

body main article .flexWrapper .articleTextWrapper p {
  margin-top: 1.3rem;
  font-size: 0.8rem;
  color: #808d99;
}

@media screen and (min-width: 40rem) {
  body main article .flexWrapper .articleTextWrapper p {
    margin-top: 1.2rem;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 64rem) {
  body main article .flexWrapper .articleTextWrapper p {
    margin-top: 0.5rem;
  }
}

body main article.ctaBlock {
  position: absolute;
  height: 10.375rem;
  width: 22rem;
  padding: 2.5rem 0rem;
  left: -0.5rem;
  bottom: -19rem;
  background-color: white;
}

@media screen and (min-width: 40rem) {
  body main article.ctaBlock {
    width: 32rem;
    padding: 2rem 0;
    left: -2.5rem;
    bottom: -19rem;
  }
}

@media screen and (min-width: 64rem) {
  body main article.ctaBlock {
    height: 12rem;
    width: 36rem;
    padding: 2.2rem 0;
    left: 9.5rem;
    bottom: -19rem;
  }
}

@media screen and (min-width: 90rem) {
  body main article.ctaBlock {
    left: 22rem;
    bottom: -25rem;
  }
}

body main article.ctaBlock h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 40rem) {
  body main article.ctaBlock h2 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 64rem) {
  body main article.ctaBlock h2 {
    font-size: 1.6rem;
  }
}

body main article.ctaBlock button {
  height: 2.25rem;
  width: 14rem;
  border: none;
  border-radius: 240px;
  -webkit-box-shadow: 0px 0 20px -5px #808d99;
          box-shadow: 0px 0 20px -5px #808d99;
  background-color: #ff52bf;
  color: white;
  font-size: 0.8rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body main article.ctaBlock button:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

body main article.ctaBlock button:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 40rem) {
  body main article.ctaBlock button {
    height: 2.7rem;
    width: 17rem;
  }
}

@media screen and (min-width: 64rem) {
  body main article.ctaBlock button {
    height: 3.5rem;
    width: 18rem;
    font-size: 0.9rem;
  }
}

body footer {
  background-color: #00252e;
  color: white;
}

body footer .footerBackgoundHelper {
  width: 23.4375rem;
  margin: 0 auto;
  padding: 7rem 0.875rem 3rem 0.875rem;
}

@media screen and (min-width: 40rem) {
  body footer .footerBackgoundHelper {
    width: 35rem;
  }
}

@media screen and (min-width: 64rem) {
  body footer .footerBackgoundHelper {
    width: 60rem;
  }
}

@media screen and (min-width: 90rem) {
  body footer .footerBackgoundHelper {
    width: 83rem;
  }
}

body footer .footerLogoSvg svg {
  width: 150px;
}

body footer .footerLogoSvg svg #logoLeft {
  fill: white;
}

body footer .footerLogoSvg svg #logoRight {
  fill: white;
}

body footer .footerInfo {
  margin-top: 1.625rem;
}

@media screen and (min-width: 64rem) {
  body footer .footerInfo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "contact contact nav1 nav2 socialMedia";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 5rem;
  }
}

@media screen and (min-width: 90rem) {
  body footer .footerInfo {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "contact nav1 nav2 socialMedia";
    gap: 7rem;
  }
}

body footer .footerInfo .contact {
  grid-area: contact;
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28px 1fr;
      grid-template-columns: 28px 1fr;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
  text-align: left;
}

@media screen and (min-width: 64rem) {
  body footer .footerInfo .contact {
    margin-bottom: 0rem;
    font-size: 0.7rem;
  }
}

body footer .footerInfo nav ul {
  list-style: none;
  font-size: 1rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 64rem) {
  body footer .footerInfo nav ul {
    font-size: 0.9rem;
    line-height: 1;
  }
}

body footer .footerInfo nav ul li {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body footer .footerInfo nav ul li:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

body footer .footerInfo nav ul li:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 64rem) {
  body footer .footerInfo nav ul li {
    margin-bottom: 1rem;
  }
}

body footer .footerInfo .navbarOne {
  grid-area: nav1;
}

body footer .footerInfo .navbarTwo {
  grid-area: nav2;
}

body footer .footerInfo .socialMedia {
  grid-area: socialMedia;
  margin: 3rem auto 1.5rem auto;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 64rem) {
  body footer .footerInfo .socialMedia {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body footer .footerInfo .socialMedia .socialSvg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body footer .footerInfo .socialMedia .socialSvg:hover {
  cursor: pointer;
  background-color: #47a7f5;
}

body footer .footerInfo .socialMedia .socialSvg:active {
  background-color: lightgreen;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

@media screen and (min-width: 40rem) {
  body footer .footerInfo .socialMedia .socialSvg {
    height: 2.3rem;
    width: 2.3rem;
  }
}

body footer .footerInfo .socialMedia .socialSvg svg {
  width: 50%;
}

body footer .footerInfo .socialMedia .socialSvg svg path {
  fill: white;
}

body footer .copyright {
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 40rem) {
  body footer .copyright {
    font-size: 0.8;
  }
}

@media screen and (min-width: 64rem) {
  body footer .copyright {
    text-align: end;
  }
}
/*# sourceMappingURL=main.css.map */