$pink: hsl(322, 100%, 66%);

$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

$screen-width-small: 40rem; // 640px          default:23.4375rem; 375px
$screen-width-medium: 64rem; // 1024px
$screen-width-large: 90rem; // 1440px

$container-width: 23.4375rem;
$container-width-small: 35rem;
$container-width-medium: 60rem;
$container-width-large: rem;
