@import "fonts";
@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button {
  font-weight: 700;
}

body {
  margin: 0 auto;
  transition: all 1s ease-in-out;

  .backgroundHelper {
    background-image: url(../images/bg-hero-mobile.svg);
    background-color: $veryPaleCyan;
    background-repeat: no-repeat;
    background-size: cover;

    header {
      @include setContainerWidth("width");
      margin: 0 auto;
      text-align: center;

      .topBar {
        padding: 1.375rem 0.875rem 0 0.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $screen-width-small) {
          padding: 2rem 1rem 0 1rem;
        }

        .topLogoSvg {
          width: 100px;

          @media screen and (min-width: $screen-width-small) {
            width: 120px;
          }

          img {
            width: 100%;
          }
        }

        button {
          height: 1.5rem;
          width: 5.6875rem;
          background-color: white;
          border: none;
          border-radius: 24px;
          box-shadow: 0px 0 20px -5px $grayishBlue;
          font-size: 0.6rem;
          @include hoverEffect;

          @media screen and (min-width: $screen-width-small) {
            height: 2rem;
            width: 6rem;
          }
        }
      }

      .headerTitleWrapper {
        @media screen and (min-width: $screen-width-medium) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: left;
        }

        .title {
          padding: 5rem 2.25rem 3.25rem 2.25rem;

          @media screen and (min-width: $screen-width-small) {
            padding-top: 4rem;
          }

          h1 {
            padding-bottom: 2rem;
            font-size: 1.7rem;

            @media screen and (min-width: $screen-width-medium) {
              font-size: 1.8rem;
            }
          }

          p {
            padding-bottom: 2.5rem;
            font-size: 1.1rem;

            @media screen and (min-width: $screen-width-medium) {
            }
            font-size: 1rem;
          }

          button {
            @include getStartedBtn;
            @include hoverEffect;

            @media screen and (min-width: $screen-width-small) {
              height: 2.7rem;
              width: 17rem;
            }

            @media screen and (min-width: $screen-width-medium) {
              height: 3rem;
              width: 18rem;
              font-size: 0.9rem;
            }
          }
        }

        .image {
          padding: 0 2.25rem 2rem 2.25rem;
          @media screen and (min-width: $screen-width-medium) {
            padding: 0;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  main {
    position: relative;
    margin: 3.375rem auto 13.125rem auto;

    width: 21rem;
    text-align: center;

    @media screen and (min-width: $screen-width-small) {
      width: 27rem;
    }

    @media screen and (min-width: $screen-width-medium) {
      width: 55rem;
      margin-top: 6rem;
    }

    article {
      margin-bottom: 2.25rem;
      padding: 3.375rem 3rem 3rem 3rem;
      border-radius: 24px;
      box-shadow: 0px 0 20px -5px $grayishBlue;

      @media screen and (min-width: $screen-width-small) {
        padding: 3.5rem 4rem 3rem 4rem;
      }

      @media screen and (min-width: $screen-width-medium) {
        padding: 2rem 1rem 2rem 5rem;
      }

      .flexWrapper {
        @media screen and (min-width: $screen-width-medium) {
          width: 100%;
          padding: 0;
          margin: 0 auto;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;

          text-align: left;
          gap: 10rem;

          &.reverse {
            flex-direction: row;
          }
        }

        img {
          width: 100%;
        }

        .articleTextWrapper {
          h2 {
            margin-top: 3rem;
            font-size: 1.2rem;

            @media screen and (min-width: $screen-width-small) {
              margin-top: 2rem;
              font-size: 1.5rem;
            }
          }

          p {
            margin-top: 1.3rem;
            font-size: 0.8rem;
            color: $grayishBlue;

            @media screen and (min-width: $screen-width-small) {
              margin-top: 1.2rem;
              font-size: 0.9rem;
            }

            @media screen and (min-width: $screen-width-medium) {
              margin-top: 0.5rem;
            }
          }
        }

        &.ctaBlock {
          position: absolute;
          height: 10.375rem;
          width: 22rem;
          padding: 2.5rem 0rem;
          left: -0.5rem;
          bottom: -19rem;
          background-color: white;

          @media screen and (min-width: $screen-width-small) {
            width: 32rem;
            padding: 2rem 0;
            left: -2.5rem;
            bottom: -19rem;
          }

          h2 {
            font-size: 1.2rem;
            margin-top: 0;
            margin-bottom: 1.5rem;

            @media screen and (min-width: $screen-width-small) {
              font-size: 1.4rem;
            }
          }

          button {
            @include getStartedBtn;
            @include hoverEffect;

            @media screen and (min-width: $screen-width-small) {
              height: 2.7rem;
              width: 17rem;
            }

            @media screen and (min-width: $screen-width-medium) {
              height: 3rem;
              width: 18rem;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $veryDarkCyan;
    color: white;

    .footerBackgoundHelper {
      @include setContainerWidth("width");
      margin: 0 auto;
      padding: 7rem 0.875rem 3rem 0.875rem;
    }

    .footerLogoSvg {
      svg {
        @media screen and (min-width: $screen-width-small) {
          width: 40%;
        }

        #logoLeft {
          fill: white;
        }

        #logoRight {
          fill: white;
        }
      }
    }

    .footerInfo {
      margin-top: 1.625rem;

      .contact {
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 28px 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 0.5rem;
        text-align: left;
      }

      nav {
        ul {
          list-style: none;
          font-size: 1.2rem;
          line-height: 2.5rem;

          li {
            @include hoverEffect;
          }
        }
      }

      .socialMedia {
        margin: 3rem auto 1.5rem auto;
        width: 10rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .socialSvg {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: 1px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
          @include hoverEffect;

          @media screen and (min-width: $screen-width-small) {
            height: 2.3rem;
            width: 2.3rem;
          }

          svg {
            width: 50%;

            path {
              fill: white;
            }
          }
        }
      }

      .copyright {
        text-align: center;
        font-size: 0.7rem;

        @media screen and (min-width: $screen-width-small) {
          font-size: 0.8;
        }
      }
    }
  }
}
